@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #1b1b2f;
  --main-text-color: #eaeaea;
  --highlight-color: #00d4ff;
}

body {
  background: linear-gradient(135deg, #1b1b2f, #3e3e63);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

h1 {
  color: var(--highlight-color);
  text-shadow: 0 0 10px var(--highlight-color);
}

button {
  background-color: var(--main-bg-color);
  color: var(--highlight-color);
  border: 2px solid transparent;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 20px var(--highlight-color);
}
button:hover {
  border-color: var(--highlight-color);
  box-shadow: 0 0 30px var(--highlight-color);
}

.form-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

input,
select {
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: rgba(88, 83, 83, 0.8);
  border: 1px solid var(--highlight-color);
  border-radius: 8px;
  padding: 0.75rem;
  color: var(--main-text-color);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 10px var(--highlight-color);
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 15px var(--highlight-color);
}
